

%flexJustifyAround {
  display: flex;
  justify-content: space-around;
}

%flexJustifyCenter {
  display:flex;
  justify-content: center;
}

%flexAlignCenter {
  display: flex;
  align-items: center;
}

.HeaderAndFooter {
  background: #219ebc;
  width: 200px;
  height: 60px;

  @extend %flexAlignCenter
}

.Header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Footer {
  font-size: 14px;
  border-top: 1px solid grey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @extend %flexJustifyCenter
}









.AppContainer {
  margin: 90px auto; 
  width: fit-content;
}

.CompClickedContainer {
  width: 200px; 
  height: 50px; 
 
  @extend %flexAlignCenter, %flexJustifyAround
}

.radioStation {
  width: 100%;
  align-items: center;

  @extend %flexJustifyCenter
}

.plusAndMinusSign {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.ImageRadioApi {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor:pointer;
}

.CurrentlyPlaying {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentPlay {
  color: orange;
  font-size: 8px;
}

.StationsStyling {
  color: white; 
  font-size: 14px;
}

.ArrowStyling {

  @extend .plusAndMinusSign;
  transform: rotate(-180deg);
  
}

.LogoutStyling {
  @extend .plusAndMinusSign;
  transform: rotate(90deg);
}




.MainBodyContainer {
  height: auto;
  width: 200px;
  flex-direction: column;
  background: #a8dadc;

  @extend %flexJustifyCenter, %flexAlignCenter
}

.flexCol {
  flex-direction: column;
}

.NameAndFrequency {
  justify-content: space-between;
  color: white;
  width: calc(100% - 36px);
  border-bottom: 1px solid grey;

  @extend %flexAlignCenter
}

.radioStyling {
  width: inherit;
  padding: 5px;
  cursor: pointer;
}

.radioStyling:last-of-type .NameAndFrequency{
  border-bottom: 0px solid black;
}

